.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}


.inputfile + label {
    font-size: 1.25em;
    font-weight: 700;
    color: white;
    /*background-color: black;*/
    display: inline-block;
}

.inputfile:focus + label,
.inputfile + label:hover {
    background-color: dimgrey;
}

.inputfile + label {
	cursor: pointer; /* "hand" cursor */
}

.profile{
  border-radius : 25px;
  padding : 10px;
  font-size: 30px;
}

.profile-user{
  border-radius : 25px;
  padding : 10px;
  font-size: 30px;
}

.peersposition{
  margin-top:40%;
  margin-left:50%;
}

.eachpeer{
  margin : 20px;
}
